<br>
<br>
<br>
<div>
    <a style="margin-left: 96%;" routerLink="/user-home">Logout</a>
</div>
<br>
<br>
<br>
<br>
<div style="width: 40%; float: left; margin-left: 12%;"> 
    <button style="margin-left: 5%; width: 53%;" type="submit" id="add" routerLink="/add-question" class="btn btn-primary">ADD QUESTION</button><br><br>
    <button style="margin-left: 5%; width: 53%;" type="submit" id="remove" routerLink="/remove-question" class="btn btn-primary">REMOVE QUESTION</button><br><br>
    <!-- <button style="margin-left: 5%; width: 53%;" type="submit" id="viewReports" routerLink="/search-student">View Reports</button><br> -->
</div>

<router-outlet></router-outlet>