<div class="container" style="width: 30%; margin-left: 10%;" >
<br><br><br><br><br><br>
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 400; text-align: center; color: rgb(255, 255, 255); text-decoration: underline;">
        RESET PASSWORD
    </h1>
       
    <form [formGroup]="form" (ngSubmit)="submit()">
           
        <div class="form-group">
            <label for="email" style="color: beige; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Email ID : </label>
            <input 
                formControlName="email"
                id="email" 
                type="email" 
                class="form-control">
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors?.['required']">Email ID is required.</div>
                <div *ngIf="f['email'].invalid">Invalid Email ID!</div>
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="password" style="color: beige; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">New Password : </label>
            <input 
                formControlName="password"
                id="password" 
                type="password" 
                class="form-control">
            <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                <div *ngIf="f['password'].errors?.['required']">Password is required.</div>
                <div *ngIf="f['password'].invalid">Invalid Password!</div>
            </div>
        </div>
  <br>
        <div class="form-group">
            <label for="confirm_password" style="color: beige; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Confirm Password :</label>
            <input 
                formControlName="confirm_password"
                id="confirm_password" 
                type="password" 
                class="form-control">
            <div *ngIf="f['confirm_password'].touched && f['confirm_password'].invalid" class="alert alert-danger">
                <div *ngIf="f['confirm_password'].errors?.['required']">Password is required.</div>
                <div *ngIf="f['confirm_password'].errors?.['confirmedValidator']">New Password and Confirm Password didn't match!</div>
                <div *ngIf="f['confirm_password'].invalid">Invalid Password!</div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid" id="btn_reset" routerLink="/loginpage">RESET</button>
    </form>
</div>