<h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-decoration: underline; color: white; margin-left: 17%; float: none;"> TESTIFY TEAM </h1>

<table id="tab-about">
    <tr>
        <td>
            <div class="card" style="width: 18rem; margin-top: 1%;">
                <img class="card-img-top" src="assets/images/male.jpg" style="width: 90px; align-self: center;" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">RAGHAV BHATNAGAR</p>
                </div>
              </div>
        </td>
        <td>
            <div class="card" style="width: 18rem; margin-top: 1%;  margin-left: 10%;">
                <img class="card-img-top" src="assets/images/female.jpg" style="width: 90px; align-self: center;" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">CHANDRIKA DK</p>
                </div>
              </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem; margin-top: 10%;">
                <img class="card-img-top" src="assets/images/male.jpg" style="width: 90px; align-self: center;" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">SAI CHANDER GATTU</p>
                </div>
              </div>
        </td>
        <td>
            <div class="card" style="width: 18rem; margin-top: 10%;  margin-left: 10%;">
                <img class="card-img-top" src="assets/images/male.jpg" style="width: 90px; align-self: center;" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">VISHAL PASUPULETI</p>
                </div>
              </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem; margin-top: 10%;  margin-left: 56%;">
                <img class="card-img-top" src="assets/images/female.jpg" style="width: 90px; align-self: center;" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">AMRUTA KHOT</p>
                </div>
              </div>
        </td>
    </tr>

</table>

<div style="margin-left: 85%;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</div>