<div class="navbar-header" style="float:none;">
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <i class="fa fa-home" style=" margin-left: 240px; color: beige; margin-top: 10px;" aria-hidden="true"></i><a name="anc" style="color: beige; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="nav-item nav-link active" href="" routerLink="user-home" >HOME <span class="sr-only">(current)</span></a> -->
        <i class="fa fa-info-circle" style=" margin-left: 240px; color: beige; margin-top: 10px;" aria-hidden="true"></i><a name="anc" style="color: beige; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; " class="nav-item nav-link active" routerLink="aboutUs" >ABOUT US <span class="sr-only"></span></a>
        <i class="fa fa-lock" style=" margin-left: 690px; color: beige; margin-top: 10px;" aria-hidden="true"></i><a name="anc" style="color: beige; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="nav-item nav-link active" routerLink="users/loginpage">&nbsp;&nbsp;&nbsp;USER LOGIN<span class="sr-only"></span></a>
        <i class="fa fa-lock" style=" margin-left: 30px; color: beige; margin-top: 10px;" aria-hidden="true"></i><a name="anc" style="color: beige; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="nav-item nav-link active" routerLink="admin-login">&nbsp;&nbsp;&nbsp;ADMIN LOGIN<span class="sr-only"></span></a>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
