#btn_Java {
    background-color: rgb(26, 41, 84);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 10%;
    height: 8%;
    margin: 1%;
}
#btn_SQL {
    background-color: rgb(26, 41, 84);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 10%;
    height: 8%;
    margin: 1%;
}
#btn_PHP {
    background-color: rgb(26, 41, 84);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 10%;
    height: 8%;
    margin: 1%;
}
#btn_CPP {
    background-color: rgb(26, 41, 84);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 10%;
    height: 8%;
    margin: 1%;
}
#btn_Python {
    background-color: rgb(26, 41, 84);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 10%;
    height: 8%;
    margin: 1%;
}
#btn_CNet {
    background-color: rgb(26, 41, 84);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 10%;
    height: 8%;
    margin: 1%;
}